version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    networks:
      - app-net
  
  ai-router:
    build:
      context: ./ai-router
      dockerfile: Dockerfile
    container_name: ai-router
    ports:
      - "8000:8000"
    environment:
      # GPU 서버 주소 (RunPod endpoint)
      URL: ${URL}
      PI_TOKEN: ${API_TOKEN}

volumes:
  backend-logs:

networks:
  - app-net