name: Docker Compose

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'backend')
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Docker Compose
        run: |
          docker compose version

      - name: Start backend & mysql with Docker Compose
        run: |
          docker compose up -d backend mysql

      - name: Check running containers
        run: docker ps -a
